<footer ><i class="fab fa-twitter ic"></i>
    <i class="fab fa-facebook-f ic"></i>
    <i class="fab fa-instagram ic"></i>
    <i class="far fa-envelope ic"></i>
      <p>© 2020 Hazem's Web</p></footer>
    
    <!-- <script>
        document.getElementById("imgRespond").style.opacity="100%";
    </script> -->

</body>
</html>