<%- include(HEADER)%>

<div class="contact" >
    <div >
        <h1 class="contactHeader">Contact Us Now</h1>
    </div>
    <br>
    <button class="btn btn-lg btn-dark btn-block">
        <a href="mailto:hazemkasim3@gmail.com"><i style="color:#FFC107;" class="fas fa-envelope"></i><span style="color: white;"> Mail us</span></a>
    </button>
    <button class="btn btn-lg btn-dark btn-block">
        <a href="tel:+01100849498"><i style="color:#FFC107;" class="fas fa-phone-volume"></i><span style="color: white;"> Call us</span></a>
    </button>
    <button class="btn btn-lg btn-dark btn-block">
        <a href="https://fb.com/"><i style="color:#FFC107;" class="fab fa-facebook-messenger"></i><span style="color: white;"> Message us</span></a>
    </button>

</div>

<%- include("partials/Footer.ejs")%>